
/* portfolio button styling */

button {
  padding: 10px 15px;
  margin: 5px;
  @include button;
}



/* modal button back and forth buttons */

.slide-button {
  background-color: rgba(0, 0, 0, 0.42);
  width: 50%;
  &:hover {
    background-color: rgba(0, 0, 0, 0.65);
  }
  @include desktop {
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.42);
    width: auto;
  }
}

/* Footer icons */

#computer {
  font-size: 50px;
  padding: 2vw;
}

.fab,
#computer,
.fas {
  transition-property: all;
  transition-duration: .5s;
}

.fab,
.fas {
  font-size: 1.25rem;
}

/* JS Slide effects */

@keyframes move-in {
  from { opacity: 0; transform: translateX(-500px)}
  to { opacity: 1; transform: translateX(0)}
}

@keyframes move-in-right {
  from { opacity: 0; transform: translateX(500px)}
  to { opacity: 1; transform: translateX(0)}
}

.moved,
.moved-right {
  opacity: 0;
}

.move-in-element {
  animation: move-in 1s;
}

.move-in-element-right {
  animation: move-in-right 1s;
}

/* fade effect  */

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

.hidden {
  opacity: 0;
}

.fade-in-element {
  animation: fade-in 2.5s;
}

/* modal open effect */
@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}
